body {
	margin: 5%;
	background-color: #fff;
	background-image: url(../img/background.jpg);
	background-size: cover;
}
#container {
	background-color: #3ca6d8;
	padding: 5% 2% 5% 2%;
	-webkit-box-shadow: 4px 4px 8px 4px #233E6E;
		box-shadow: 4px 4px 8px 4px #233E6E;
}
header {
	margin-left: 15%;
}
#me {
	width: 80%;
	-webkit-box-shadow: 3px 4px 6px 3px #233E6E;
		box-shadow: 3px 4px 6px 3px #233E6E;
}
h1 {
	color: #fff;
	font-family: 'Fjalla One', sans-serif;
	font-size: 2.9rem;
	text-shadow: 2px 2px 3px #050547;
}
h2 {
	font-family: ;
	font-size: ;
	color: #;
	margin-top: 70px;
}
h3 {
	font-family: ;
	font-size: ;
	color: ;
	margin-top: 55px;
}
h2, h3 {
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
}
ul li, p {
	color: #13243f;
	font-family: 'Marvel', sans-serif;
	font-size: 1.5rem;
	margin: 5% 10% 5% 5%;
}
ul {
	width: 90%;
	margin: 2.55%;
	list-style-type: square;
}
.circle {
  display: inline;
	float: left;
}

/** Progressbar class css*/
.progressbar {
    width: 100%;
	margin-top: 5px;
	margin-bottom: 35px;
	position: relative;
	background-color: #EEEEEE;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,.1);
}

.proggress{
	height: 8px;
	width: 10px;
	background-color: #3498db;
}

.percentCount{
	float:right;
	margin-top: 10px;
	clear: both;
	font-weight: bold;
	font-family: Arial
}

@media (min-width: 450px) {
	#me {
		width: 65%;
	}
	header {
		margin-left: 28%;
	}
	ul li, p {
		margin: 5%;
	}
}
@media (min-width: 680px) {
	#me {
		width: 45%;
	}
	header {
		margin-left: 35%;
	}
}
@media (min-width: 900px) {
	ul li, p {
		margin: 2% 12% 2% 12%;;
	}
}
/*
@media (min-width: 600px) {
	ul {
		width: 80%;
		margin: 7.5%;
	}
}
@media (min-width: 1024px) {
	#work, #edu {
		width: calc(100%/2);
		float: left;
	}
	#skills, #interests {
		clear: right;
	}
}
*/
